/*	
	READ THIS PLEASE!!
	
	You DO NOT want to make edits to this file.
	If you make edits to this file your layout will break 
	when you upgrade the theme.
	
	Instead add your custom CSS to the style.css file
    in a Child Theme. See this tutorial for more details: 
    
    http://themes.jestro.com/vigilance/easy-upgrading-wordpress-child-themes/
    
    Any new styles you add to the style.css in your Child Theme
    will automatically override this imported stylesheet.  
	
	This will also make your life a whole
	lot easier when it comes time to upgrade the theme.
*/


/*Body & Links 
------------------------------------------------------------ */
body {
	font-size: 62.5%;
	font-family: Georgia, "Times New Roman", Times, Serif;
	line-height: 2.2em;
	color: #333;
	}
a:link, a:visited { color: #772124; }
.entry a:link, .entry a:visited { font-weight: bold; }
a:hover {
	text-decoration: underline;
	color: #58181b;
	}
/*Basic Structure
------------------------------------------------------------ */
#wrapper{
	width: 920px;
	margin: 0 auto;
	text-align: left;
	}
#content{ 
	float: left; 
	width: 600px;
	padding: 20px 20px 20px 0;
	}
#sidebar { 
	float: right; 
	width: 300px;
  padding-bottom: 20px;
	}
.thin-sidebar {
	float: left;
	width: 140px;
	}
.spad { padding-right: 20px; }
#footer { 
	clear: both;
	padding-top: 5px; 
	border-top: 1px solid #ddd;
	}
.clear:after, li.comment:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
/*Header
------------------------------------------------------------ */
#header {
	padding: 20px 0 10px 0;
	border-bottom: 5px solid #333;
	position: relative;
	}
h1#title, div#title {
	font-size: 4.6em;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 10px;
	vertical-align: middle;
	}
h1#title a:link, h1#title a:visited, div#title a:link, div#title a:visited  { color: #444; 
display: block; vertical-align: middle; position: relative; top: 25%
}
h1#title a:hover, div#title a:hover { color: #772124; text-decoration: none; }
/*Description
---------------------------------------*/
#description {
	float: left;
	margin-bottom: 10px;
	}
#description h2 {
	font-size: 1.2em;
	font-weight: normal;
	color: #666;
	}
/*Nav
---------------------------------------*/
#nav {
	float: right;
	font-size: 1.5em;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	}
#nav ul {
	padding: 0 0 0 20px;
	list-style: none;
	position: relative;
	}
#nav ul li {
	display: inline;
	margin: 0 0 0 15px;
	}
#nav .page_item a:link, #nav .page_item a:visited {
	color: #333;
	text-decoration: none;
	}
#nav .page_item a:hover {
	color: #772124;
	text-decoration: none;
	padding-top: .1em;
	border-top: 4px solid #772124;
	}
#nav .current_page_item a:link, #nav .current_page_item a:visited, #nav .current_page_item a:hover, #nav .current_page_parent a:link, #nav .current_page_parent a:visited, #nav .current_page_parent a:hover, #nav .current_page_ancestor a:link, #nav .current_page_ancestor a:visited, #nav .current_page_ancestor a:hover {
	color: #772124;
	text-decoration: none;
	padding-top: .1em;
	border-top: 4px solid #772124;
	}
/*Menu
------------------------------------------------------------ */
#menu {
	padding-bottom: 10px;
	}
#menu img {
	border: 2px solid #dddddd;
	}
.alert-box {
  margin: 0 0 20px 0;
  padding: 0 20px;
  background: #E9EBD9;
	border-top: 2px solid #DCDFC3;
	border-bottom: 2px solid #DCDFC3;
  }
.alert-box h2, .alert-box h3, .alert-box h4 {
  margin: 0;
  padding: 0;
  }
.alert-box p {
  margin: 10px 0;
  }
/*Post Styling
------------------------------------------------------------ */
/*Post Header
---------------------------------------*/
.post-header {
	border-bottom: 4px double #dddddd;
	padding-bottom: 7px;
	}
.post-header h1, .post-header h2 { 
  font-size: 2.6em; 
  line-height: 1.1em;
  }
.post-header h1 a:link, .post-header h1 a:visited,.post-header h2 a:link, .post-header h2 a:visited  { color: #444; }
.post-header h1 a:hover, .post-header h2 a:hover { color: #772124; }
.comments {
	padding-top: 10px;
	font-size: 1.3em;
  color: #757575;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	text-transform: uppercase;
	}
.comments a {
	display: block;
	color: #757575;
	padding: 0 0 0 26px;
	background: url(../images/comments-bubble.gif) no-repeat 0 .4em;
	}
.comments a:hover {
	color: #772124;
	background: url(../images/comments-bubble-hover.gif) no-repeat 0 .4em;
	}
.date {
	float: right;
	padding-top: 10px;
	color: #757575;
	font-size: 1.6em;
	font-weight: normal;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	text-transform: uppercase;
	}
.date span {
	color: #ddd;
	font-weight: bold;
	}
#single-date {
	float: none;
	}
/*Post Meta
---------------------------------------*/
.meta  {
	margin: 20px 0 5px 0;
	font-size: 1.2em;
  font-family: "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	color: #666;
	}
.meta a:link, .meta a:visited {
	color: #666;
	font-style: normal;
	}
.meta a:hover { color: #772124; }
.tags { 
	float: right; 
  width: 400px;
  text-align: right;
	font-style: italic;
	}
/*Post Body
---------------------------------------*/
.sticky .entry {
padding: 10px;
background-color: #eee;
}

.entry { font-size: 1.3em; word-wrap: break-word; }
.entry p { margin-bottom: 10px; }
.entry h2, .entry h3, .entry h4 {
	font-size: 1.3em;
	padding: 15px 0 5px 0;
	}
.entry h3 { 
  padding-top: 10px;
  font-size: 1em;
  }
.entry h4 { 
  padding-top: 10px;
  font-size: .9em;
  }
code {
  padding: 3px;
  background: #E9EBD9;
  color: #000;
  font-family: "Courier New", Courier, monospace; 
  }
blockquote {
  display: block;
  padding: 20px 20px 10px 45px;
  margin: 20px 0;
  font-style: italic;
  font-size: 1.2em;
  color: #141310;
  background: #e7e6e2 url(../images/blockquote.gif) no-repeat top left;
  }
.float-quote {
	float: left;
	width: 200px;
	padding: 15px;
	margin: 10px 10px 0 0;
	background: #eaeaea;
	border-top: 4px solid #333;
	border-bottom: 4px solid #333;
	}
.entry .float-quote p {
	margin: 0;
	padding: 0 0 0 40px;
	font-size: 1.3em;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	line-height: 1.3em;
	background: url(../images/float-quote.gif) no-repeat top left;
	}
.highlight-box {
	float: right;
  margin: 0 0 10px 10px;
	width: 200px;
	padding: 10px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	border-top: 8px solid #000;
	background: #772124;
	color: #fff;
	}
.entry .highlight-box p {
  margin: 10px 0;
  line-height: 1.4em;
  font-size: 1.1em;
  }
.entry .highlight-box ul li {
  font-size: 1.1em;
  background: url(../images/list-square.gif) no-repeat 0 .4em; 
   }
.entry .highlight-box h2, .entry .highlight-box h3, .entry .highlight-box h4 { 
 margin: 0; 
 padding: 0;
 color: #fff; 
 }
.highlight-box h2 { text-transform: uppercase; }
.entry ul, #comments ul {
	margin: 0 0 10px 10px;
	}
.entry ul li, #comments ul li {
	display: block;
	margin: 5px 0 0 0;
	padding: 0 0 0 17px;
	background: url(../images/list-star.gif) no-repeat 0 .3em;
	}
.entry ol, #comments ol {
	list-style-type: decimal;
	list-style-position: inside;
	margin: 0 0 10px 10px;
	}
.entry ol li ol li, #comments ol li ol li { 
    font-size: .9em;
    list-style-type: lower-roman; 
    }
.entry ol li, #comments ol li {
	margin: 5px 0 0 0;
	}
.navigation {
  padding: 10px 0;
  font-size: 1.3em;
  }
.index { padding: 0; }
/*Post Footer
---------------------------------------*/
.post-footer {
	padding-bottom: 2px;
	margin: 0 0 30px 0;
	font-size: 1.1em;
  font-family: "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	font-style: italic;
  text-align: right;
  color: #666;
	border-bottom: 1px solid #e8e8e8;
	}
.post-footer a:link, .post-footer a:visited {
	color: #333;
	font-style: normal;
	}
.post-footer a:hover { color: #772124; }
/*Pages
---------------------------------------*/
h1.pagetitle, h2.pagetitle {
	margin-bottom: 20px;
	padding-bottom: 7px;
	font-size: 2.6em;
	line-height: 1.1em;
	border-bottom: 4px double #dddddd;
	}
/*Archives List
---------------------------------------*/
img.archive-comment {
  float: right;
  margin: 0 .5em .5em 0;
  }
.entries { 
  font-size: 1.3em;
  clear: both; 
  }
.entries ul {
	margin: 0;
	padding: 0 0 1px 0;
	background: transparent url(../images/archives-dotted-line.gif) repeat-x bottom left;
	}
.entries ul li {
	padding-top: 1px;
	background: transparent url(../images/archives-dotted-line.gif) repeat-x top left;
	}
.entries ul li a {
	display: block;
	margin: 0;
	padding: 7px 0;
	}
.entries ul li a:hover {
	background-color: #EDEEDF;
  text-decoration: none;
	}
.entries span {
	display: block;
	text-align: right;
	}
.entries span.archdate, .entries a:hover span.archdate  {
  float: left;
	margin-right: 3em;
  padding-left: .5em;
	width: 3em;
	color: #666;
	}
.entries span.comments_number{
	float: right;
  margin-right: .5em;
	width: 3em;
  color: #666;
	}	
/*Sidebar
------------------------------------------------------------ */
#sidebar-image { 
  padding-top: 20px; 
  }
h2.widgettitle {
	padding: 25px 0 3px 0;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1.2pt;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	border-bottom: 1px solid #dddddd;
	}
ul li.widget ul {
	margin: 0;
	font-size: 1.4em;
	}
ul li.widget ul li ul { 
  margin-left: 5px;
  font-size: 1em; 
  }
ul li.widget ul li {
	padding: 6px 0;
  border-bottom: 1px solid #dddddd;
	}
ul li.widget ul li ul li { 
  padding: 6px 0 0 0;
  border-bottom: none;
  }
ul li.widget ul li a {
  display: block;
	padding: 0 0 0 14px;
	background: url(../images/list-item.gif) no-repeat 0 .35em;
	}
ul li.widget ul li a:hover {
	background: url(../images/list-item-hover.gif) no-repeat 0 .35em;
	}
ul li.widget_twitter ul li a {
	display: inline;
	padding: 0;
	background: none;
	}
ul li.widget_twitter ul li a:hover {
	background: none;
	}
ul li.widget ul#recentcomments li a {
	padding: 0;
	background: none;
	}
/*RSS Box
---------------------------------------*/
#rss-feed  { padding-top: 10px; }
#rss-feed p {
  font-size: 1.2em;
  line-height: 1.6em;
  }
#rss-feed a.rss, #rss-feed a.email {
  float: left;
  font-size: 1.3em;
  margin-top: 10px;
  display: block;
  padding: 0 0 0 19px;
  background: url(../images/feed-icon.png) no-repeat 0 .3em;
  }
#rss-feed a.email {
  float: right;
  padding: 0 0 0 25px;
  background: url(../images/mail-icon.png) no-repeat 0 .45em;
  }
/*Search Box
---------------------------------------*/
#search_form input { margin: 10px 0 0 0; }
#search_form input { 
  padding: 4px 2px; 
  width: 132px;
  border: 2px solid #acacac;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #f4f4f4;
  color: #888;
  }
#search_form input:focus { background: #fff; }
#search_form input#searchsubmit { padding: 2px 10px; }

/*Comments
------------------------------------------------------------ */
/*Top
---------------------------------------*/
.comment-number {
	display: block;
	font-size: 1.3em;
	padding: 0 0 10px 30px;
	background: url(../images/comments-bubble-big.gif) no-repeat 0 .1em;
	}
.comment-number span {
	font-size: 1.3em;
	color: #777;
	}
.none { border-bottom: 1px solid #ddd; }
a#leavecomment { padding-left: 10px; }
/*Body
---------------------------------------*/
div.c-single, li.comment {
	padding: 20px 20px 10px 20px;
	border-top: 1px solid #ddd;
	background: #efefef;
	}
li.comment { padding: 20px 20px 0 20px; }
li.comment.depth-2 {
  margin-bottom: 10px;
  border: 1px dashed #ccc;
  background: #fff;
  }
ul.children {
	margin: 10px 0 0 20px;
  clear: both;
	}
div.alt, li.thread-odd { background: #fff; }
div.admin, li.comment.bypostauthor, li.comment li.comment.bypostauthor, li.comment.comment-author-admin, li.comment li.comment.comment-author-admin { background: #DCDFC2; }
div.c-grav {
	float: left;
	width: 80px;
	margin: 0;
	text-align: right;
	}
div.c-body {
	float: right;
	width: 464px;
  font-size: 1.3em;
	}
ul.children div.c-body { width: 404px; }
div.c-body p { margin-bottom: 10px; }
div.c-head {
	margin: 0 0 10px 0;
	font-weight: bold;
	}
div.c-date {
  float: right;
  color: #757575;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	text-transform: uppercase;
	}
div.c-date span {
	color: #C1C1C1;
	font-weight: bold;
	}
.c-permalink a:link, .c-permalink a:visited {
  color: #c1c1c1;
  font-size: .7em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	text-transform: uppercase;
  }
div.reply, div.cancel-comment-reply { float: right; }
div.reply { padding-bottom: 10px; }
div.reply a:link, div.reply a:visited {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	text-transform: uppercase;
  }
/*Form
---------------------------------------*/
form#commentform { margin-bottom: 20px; }
#respond { font-size: 1.5em; }
h4#postcomment {
	margin: 20px 0;
	padding: 0 0 5px 0;
	font-size: 1.2em;
	color: #555;
	border-bottom: 1px solid #ddd;
	}
form#commentform label.comment-field {
	display: block;
	margin: 10px 0 5px 0;
	}
input.text-input, form#commentform textarea {
	padding: 7px 3px;
	background: #F4F4F4;
	font-family: inherit;
  border: 2px solid #acacac;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 591px;
	}
input#author, input#email, input#url { width: 350px; }
form#commentform input:focus, form#commentform textarea:focus { background: #fff; }
form#commentform input#submit {
  padding: 5px;
  width: 150px; 
  }
form#commentform p.guidelines {
  font-size: .8em;
	margin: 10px 0;
  color: #777;
	}
p.subscribe-to-comments, p.comments-rss{ margin: 0 0 10px 0; }
p.comments-rss a {
  padding: 0 0 0 19px;
  background: url(../images/feed-icon.png) no-repeat 0 .15em;
  }
/*Note
---------------------------------------*/
p.note {
	font-style: italic;
	font-size: 1.3em;
	}
/*Pingbacks/Trackbacks
---------------------------------------*/
h3.pinghead {
  font-size: 1.3em;
  color: #444444;
  }
ol.pinglist {
  list-style-type: decimal;
	list-style-position: inside;
	margin: 0 0 10px 10px;
  font-size: 1.3em;
  }

/*Default Alignment and Images
------------------------------------------------------------ */
.entry .alignleft img, .entry .alignright img, .entry .aligncenter img { border: 1px solid #ddd; }
.noborder { border: none; }
.entry .alignright, .entry .alignright .float-quote { margin: 0 0 10px 10px; }
.entry .alignleft, .entry .alignleft .highlight-box { margin: 0 10px 10px 0; }
.wp-caption p {
  font-style: italic;
  color: #888;
  }
/*Footer
------------------------------------------------------------ */
#footer {
	color: #666;
	font-size: 1.1em;
	}
#footer p.right { float: right; }
#footer a:link, #footer a:visited { color: #666; text-decoration: underline; }
#footer a:hover { color: #772124; }

body .vp_wsbutton {
margin: auto !important;
}