/*
Skin Name: One-Column Minimalist
Skin URI: http://www.plaintxt.org/
Description: Minimalist style with sidebars floating left and right below main content.
Author: Scott Allan Wallick
Author URI: http://www.plaintxt.org/
Version: 1.0
Global Navigation: N
*/
@import url('../style.css');
div.sidebar {
	float: left;
	overflow: hidden;
	padding: 10px 1.9%;
	width: 46%;
}
div#primary {
	clear: both;
}
div#footer {
	clear: left;
	width: 100%;
}
