
#container {
	background:#f0f0f0 url(images/bodybg-orange.jpg) repeat-x;
}

a {
	color:#C9740A;
}

#leftside ul.box li a {
	color:#C9740A;
}

#mainmenu a {
	color: #C9740A;
}

#mainmenu a:hover {
	background: url(images/menuhover-orange.jpg) center left repeat-x;
}

#mainmenu li.current a, #mainmenu li.current_page_item a {
	background: url(images/menuhover-orange.jpg) center left repeat-x;
}

#mainmenu li.currentparent a {
	background: url(images/menuhover-orange.jpg) center left repeat-x;
}