/*
Theme: ChaosTheory
RTL: Yoav Farhi, yoav@automattic.com
*/

.commentlist .children {
	margin-right:3em;
	margin-left:0;
}
/* SIDEBAR STUFF */

div.sidebar ul ul {
	margin: 0 1.0em 0 0;
}
div.sidebar ul ul ul {
	margin: 0 0.5em 0 0;
}
div.sidebar ul#bookmarks {
	margin: 0 0.5em 0.5em 0;
}
div.sidebar ul#bookmarks ul {
	margin: 0 1.0em .5em 0;
}


/*  COMMON MULTI-PURPOSE ELEMENTS */
.alignleft, div.nav-previous, #archives-by-category {
	float: right;
}
.alignright, div.nav-next, #archives-by-month {
	float: left;
}

body.home div.nav-next, body.archive div.nav-next {
	text-align: right;
}
body.home div.nav-previous, body.archive div.nav-previous {
	text-align: left;
}

/* The Reset ---------------------------------- */
caption, th { text-align: right; }

/* Globals ------------------------------------ */
body { 
	direction:rtl;
	unicode-bidi:embed;
	}

/* -------------------------------------------- */


.entry-content { 
	float: left;
	}
.entry-meta { 
	float: right;
	}

/* -------------------------------------------- */
#globalnav {
	text-align: left;
}
#globalnav #menu {
	float: left;
	}
#globalnav #menu li {
	float: right;
	}

/* -------------------------------------------- */
.sidebar { 
	float: right;
	}
#primary { 
	margin-left: 10px;
	margin-right: 0;
	}
.sidebar ul li ul { 
	padding-left: 0;
	padding-right: 10px;
	}

/* -------------------------------------------- */

.comments .comment-content, .form-two { 
	margin-right: 270px;
	margin-left: 0;
	}
.comments .trackback-content {
	margin-left: 0;
	margin-right: 270px;
	}
.comments .comment-meta, .form-one {
	float: right;
	}


div.entry-content li {
	margin-right: 2.2em;
	margin-left: 0;
}

