/*
RTL for Theme:  : Freshy
Editors : Navid Kashani,Mahyar Abasppor
Persian WordPress Project :  wp-persian.com
*/
body, html {
	font-family:Tahoma, Arial;
	color:#595959;
}
#page {
	line-height:150%;
}
#title_image, #title {
	text-align:right;
}
#title h1 {
	font-family:arial, tahoma;
	letter-spacing:0;
}
input, textarea, select, #searchform input#s, input.btn, #searchform input, input#submit {
	font-family:tahoma, arial;
}
#content ul li, #content ol li {
	padding-left:0;
	padding-right:15px;
	background-position:right center;
}
ul ul li, ol ol li {
	background-position:right center;
	padding-left:0;
	padding-right:8px;
}
#content ol li li {
	padding-right:2em;
}
.alignleft {
	float:right;
}
.alignright {
	float:left;
}
html > body .ellipsis li span {
	float:right;
}
#content .commentlist dd {
	padding:10px 10px 10px 3em;
}
#content .commentlist .date {
	margin-right:0;
	margin-left:5px;
}
#frame {
	text-align:right;
	direction:rtl;
}
#header {
	direction:rtl;
}
#content h2 {
	font-family:arial, tahoma;
}
.comment-author .avatar {
	float:right;
	margin:0pt 0pt 0pt 5px;
}
blockquote {
	background-color: #F5F5F5;
	padding: 2% 4%;
	font-size: .95em;
}
#content .commentlist .comment {
	padding-right:30px;
}
.entry img {
	margin:0 4px;
}
#email, #url, pre, code {
	direction:ltr;
}
#content .commentlist dd.depth-2 {
	margin-right:2em;
	margin-left:0;
}
#content .commentlist dd.depth-3 {
	margin-right:4em;
	margin-left:0;
}
#content .commentlist dd.depth-4 {
	margin-right:6em;
	margin-left:0;
}
#content .commentlist dd.depth-5 {
	margin-right:8em;
	margin-left:0;
}
#content .commentlist dd.depth-6 {
	margin-right:10em;
	margin-left:0;
}
#content .commentlist dd.depth-7 {
	margin-right:12em;
	margin-left:0;
}
#content .commentlist dd.depth-8 {
	margin-right:14em;
	margin-left:0;
}
#content .commentlist dd.depth-9 {
	margin-right:16em;
	margin-left:0;
}
