/*  
Theme: Sapphire
RTL: Yoav Farhi, yoav@automattic.com

*/

/* Sidebar */

#sidebar {
	margin-right: 545px;
	margin-left: 0;
	}

#sidebar ul ul, #sidebar ul ol {
	margin: 5px 10px 0 0;
	}

#sidebar ul ul ul, #sidebar ul ol {
	margin: 0 10px 0 0;
	}

/* Posts */
.entry p, .entrytext  {
	text-align: right;
	}
	
.narrowcolumn {
	float: right;
	padding: 0 45px 20px 0;
	}

.widecolumn {
	margin: 5px 150px 0 0;
	}
	
html>body .entry ul {
	margin-right: 0px;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 0;
	} 

html>body .entry li {
	margin: 7px 10px 8px 0;
	}

.entry ol {
	padding: 0 35px 0 0;
	}

/* Images */
.alignright {
	float: left;
	}
	
.alignleft {
	float: right
	}

/* Forms */

#commentform input {
	margin: 5px 0 1px 5px;
	}

#commentform #submit {
	float: left;
	}

/* Comments */

.commentlist li {
	padding: 5px 10px 3px 0px;
	}

.commentlist li .avatar {
	float: left;
	}

.commentlist p {
	margin: 10px 0 10px 5px;
	}

/* Main Content Area */

body {
	direction:rtl;
	unicode-bidi:embed;
	}
	
#page {
	text-align: right;
	}

blockquote {
	margin: 15px 10px 0 30px;
	padding-right: 20px;
	padding-left: 0;
	}